<h1>Welcome {{currUser.name}}</h1>
<a href="#/question/add">Add Question</a> |
<a href="/logout">Logout</a><br><br>
Search Questions: <input type="text" ng-model="srchQ">
<table class="dash_table">
    <tr>
        <th>Question</th>
        <th>Answers (QTY)</th>
        <th>Actions</th>
    </tr>
    <tr ng-repeat="question in questions | filter: srchQ track by question.title">
        <td>{{question.title}}</td>
        <td>{{question._answers.length}}</td>
        <td><a href="#/question/{{question._id}}">show</a> | <a href="#/answer/{{question._id}}">answer</a></td>
    </tr>
</table>
