<h2>User Dashboard</h2>
<p>Welcome {{currUser.name}}</p>
<p>
    {{currUser._id}}
</p>
<a href="/logout">logout</a>
<table>
    <tr>
        <th>Category</th>
        <th>Topic</th>
        <th>User</th>
        <th>Posts</th>
    </tr>
    <tr ng-repeat="topic in topics">
        <td>{{topic.category}}</td>
        <td><a href="#/topic/{{topic._id}}">{{topic.title}}</a></td>
        <td>{{topic._user.name}}</td>
        <td>{{topic._answers.length}}</td>
    </tr>
</table>
<form ng-submit="create()">
    <p>Topic:<input type="text" ng-model="topic.title"></p>
    <p>Description:</p><textarea name="name" rows="8" cols="40" ng-model="topic.description"></textarea>
    <select ng-model="topic.category">
        <option value="HTML">HTML</option>
        <option value="CSS">CSS</option>
        <option value="Python">Python</option>
        <option value="MEAN">MEAN</option>
        <option value="iOS">iOS</option>
    </select>
    <p><input type="submit"></p>
</form>
