<a href="#/dashboard">Home</a> |
<a href="#/answer/{{question._id}}">Answer this question</a> |
<a href="/logout">Logout</a>
<div class="question">
    <h3>{{question.title}}</h3>
    <p>{{question.description}}</p>
    <p>asked by: {{question._user.name}}</p>
</div>
    <table class="answers_table" ng-repeat="answer in question._answers | orderBy:'like':'-'" class="answer_body">
        <tr>
            <td>
                <span class="table_data"><p>{{answer._user.name}}:</p></span>
                <span class="table_data">{{answer.title}}</span>
                <span class="table_data_d">{{answer.detail}}</span>
            </td>
            <td>{{answer.like}} likes <button type="button" ng-click="addLike(answer._id)">like</button></td>
        </tr>
    </table>
