<div class="container">
    <a href="#/dashboard">Home</a> |
    <a href="#/answer/{{question._id}}">Answer this question</a> |
    <a href="/logout">Logout</a>
    <div class="question">
        <h3>{{question.title}}</h3>
        <p>{{question.description}}</p>
        <p>asked by: {{question._user.name}}</p>
    </div>
    <div class="row" ng-repeat="answer in question._answers | orderBy:'like':'-'" class="answer_body">
        <div class="eight columns">
            <span class="a_user">{{answer._user.name}}:</span>
            <span class="a_title">{{answer.title}}</span>
            <span class="a_detail">{{answer.detail}}</span>
        </div>
        <!-- <div class="one column">
            <span class="a_like">{{answer.like}}</span>
        </div> -->
        <div class="four columns likecol">
            <button class="a_like" type="button" ng-click="addLike(answer._id)">{{answer.like}}</button>
        </div>
    </div>
</div>
